<h2 class='title' align='center'><%= @question.content %></h2>

<div class="column side">
</div>

<div class="column middle">

<p><strong>Question: <%= session[:question_number] %>/10</strong></p>
<p><strong>Score: <%= session[:score] %></strong></p>
<hr>

<div style="text-align: center;">
<% @question.answers.shuffle.each do |answer| %>
  <% if answer.correct%>
    <p><input type="submit" class="button is-medium correct" value="<%=answer.content%>" ></p>
  <% else %>
    <p><input type="submit" class="button is-medium" value="<%=answer.content%>"></p>
  <% end %>
  <br>
<% end %>

</div>


<script>

    $('input[type="submit"]').click(function(){
      if($(this).hasClass('correct')){
            $(this).addClass('is-primary');
            setTimeout(function(){
            window.location.replace("<%= correct_path %>");
         }, 500);

          }
      else{
        $(this).addClass('is-danger');

            setTimeout(function(){
            window.location.replace("<%= incorrect_path %>");
         }, 500);
       }
       });

</script>
