<% session[:users_profile] = @user %>


<h1 class='title' align='center'><%= @user.name %>'s Profile</h1>
<hr>

<div class="column middle" align='center'>




  <p class='menu-label'>Points Total</p>
    <p class='points'><%= all_total_points %></p>

  <hr>

  <p class='menu-label'>Highest Streak</p>
    <p class='points'><%= highest_streak %></p>

  <hr>
  <% #binding.pry %>

  <% if !!User.find(session[:user_id]).friends.find_by(friend_id: @user.id) %>
    <p><%= link_to "Unfriend", unfriends_path, class: 'button is-info is-outlined' %></p>
  <% else %>
    <p> <%= link_to "Add Friend", friends_path, class: 'button is-info'%></p>
  <% end %>

  <hr>

    <p><%= link_to "All Friends", users_path, class: 'menu-label'%></p>

  <hr>

    <p><a class="button is-info" href="/feed">Return to Feed</a></p>

</div>


<div class="column middle">

<% if flash.now[:success] %>

  <p class='notification is-success' align='center'><%= flash.now[:success] %></p>

<% end %>
</div>
