<h1 class='title' align='center'><%= @user.name %>'s Profile</h1>
<hr>

<div class="column side">




  <p class='menu-label'>Points Total</p>
    <p class='points'><%= all_total_points %></p>

  <hr>

  <p class='menu-label'>Highest Streak</p>
    <p class='points'><%= highest_streak %></p>

  <hr>

  <hr>
  <aside class='menu'>
    <p class='menu-label'>Account Management</p>

    <ul class='menu-list'>
      <li>
        <a href="<%= edit_user_url %>">Update Password</a>
      </li>
      <li>
        <a>Delete Account</a>
      </li>
      <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
    </ul>

  </aside>

</div>

</div>

<div class="column middle">

<% if flash.now[:success] %>

  <p class='notification is-success' align='center'><%= flash.now[:success] %></p>

<% end %>
</div>
