<!-- <nav class='level'> -->
<h3 class='title' align='center'><%= @category.name %></h3>
<hr>

<div class="level">
  <div class='level-left'>

    <div class="section">
      <div class='column'>
        <div align='center'>
          <%= link_to "Click here to start Quiz!", @category.questions.find(@random_question), class: 'button is-success' %>
          <hr>
          <%= link_to "Click here to start Hot Streak!", hot_streak_path, class: 'button is-danger' %>
          <hr>
          <%= link_to "Return to All Categories", categories_path, class: 'button' %>
        </div>
      </div>
    </div>
  </div>

  <div class='level-right'>
    <div class="section">

      <h4 class='title' align='center'>Top Scorers</h4>

        <table class="table is-striped is-hoverable" align='center'>
          <thead>
            <tr>
              <th></th>
              <th>Player</th>
              <th>Streak</th>
            </tr>
          </thead>
          <% @position = 0 %>
            <% category_streak_leaderboard.each do |game| %>

              <tbody>
                <tr>
                  <th><%= @position += 1 %></th>
                  <td><%= game.user.name %></td>
                  <td><%= game.streak %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
