<!-- <nav class='level'> -->
<div class="container">
  <div class="level">
    <div class="level-left">
      <div class="section">
<h1 class='title' align="center">TEXT</h1>
      </div>

    </div>
    <div class="level-right">
<h1 class='title' align="center">TEXT</h1>
    </div>
  </div>

</div>
<div class="level">
<div class='level-left'>

  <div class="section">
    <!-- <h3 class='title' align='center'><%= @category.name %></h3> -->

    <div class='column middle'>
      <hr>

        <%= link_to "Click here to start quiz!", @category.questions.find(@random_question), class: 'button' %>
        <hr>
        <%= link_to "Click here to start hot streak!", hot_streak_path, class: 'button' %>
        <hr>
        <%= link_to "Return to All Categories", categories_path, class: 'button' %>

</div>
    </div>
</div>
<div class='level-right'>
  <div class="section">

        <h4 class='title' align='center'>Top Scorers</h4>

        <table class="table is-striped is-hoverable" align='center'>
          <thead>
            <tr>
              <th></th>
              <th>Player</th>
              <th>Streak</th>
            </tr>
          </thead>
          <% @position = 0 %>
            <% category_streak_leaderboard.each do |game| %>

              <tbody>
                <tr>
                  <th><%= @position += 1 %></th>
                  <td><%= game.user.name %></td>
                  <td><%= game.streak %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
  </div>
      </div>
    </div>
