<!DOCTYPE html>
<html>
  <head>
    <title>Quizbuzz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <%= image_tag('quizbuzz-nav-logo.png', width: '112') %>
          <!-- <img src="quizbuzz-nav-logo.png" width="112" height="28"> -->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true">All Categories</span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="<%= categories_path %>">
            All Categories
          </a>

          <a class="navbar-item" href="<%= feed_path %>">
            Feed
          </a>

          <a class="navbar-item">
            Challenges
          </a>

          <a class="navbar-item">
            About
          </a>

        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if current_user %>
              <a class="button is-primary" href="<%= user_path(session[:user_id]) %>">
                <strong>Profile</strong>
              </a>
              <a><strong><%= link_to "Logout", logout_path, method: 'delete', class: 'button is-primary' %></strong>
              </a>
            <% else %>
              <a class="button is-primary" href="/login">
                <strong>Login</strong>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <section class="section">
    <div class="container">
    <%= yield %>
    </div>
  </section>



  <footer class="footer"> <div class="content has-text-centered"> <p> <strong>QuizzBuzz</strong></br> by <a href="https://rgbarker.com">Ryan Barker</a> & <a href="https://barneyloosemore.com">Barney Loosemore</a>.</br></br> The source code is
  licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. All Rights Reserved. </p> </div> </footer>

</body>

</html>
